@import './var';

.chapters-wrapper {
  background-color: $bg-second-clr;
}
.chapters {
  max-width: 1200px;
  margin: auto;
  padding: 70px 10px;
  font-size: 20px;
  text-align: center;
  h3 {
    text-transform: capitalize;
    font-size: 2.1em;
  }
  .btn {
    margin-bottom: 30px;
  }
  .bottom {
    font-family: $inter-font;
    font-size: 0.9em;
    color: $gray-clr;
    line-height: 1.4em;
    span {
      color: $main-clr;
    }
  }
}
.chapters-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  .chapter {
    background-color: #fff;
    padding: 40px 42px;
    width: calc(50% - 15px);
  }
  h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .desc {
    font-family: $inter-font;
    color: $gray-clr;
    font-size: 0.95em;
    line-height: 1.7em;
    margin-bottom: 10px;
  }
  .info {
    display: flex;
    gap: 20px;
    align-items: center;
    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .key {
      font-size: 1.1em;
    }
    .value {
      font-size: 0.9em;
      font-family: $inter-font;
      color: $gray-clr;
    }
  }
}

@media (max-width: 992px) {
  .chapters {
    font-size: 16px;
  }
  .chapters-container {
    gap: 20px;
    .chapter {
      width: calc(50% - 10px);
    }
    .info {
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
@media (max-width: 576px) {
  .chapters-container {
    gap: 20px;
    .chapter {
      width: 90%;
      margin: auto;
    }
    .info {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}