@import './var';

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn {
  font-family: $cardo-font;
  font-size: 19px;
  color: $main-clr;
  background-color: $btn-bg-clr;
  padding: 18px 50px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 1px solid $btn-bg-clr;
  &:hover, &:active {
    background: transparent;
    color: $btn-bg-clr;
  }
}
